.vehicle-details-container {
  display: flex;
  justify-content: space-between;
  margin-top: -50px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
}

.specs-container {
  flex: 2;
  margin-right: 20px;
}

.contact-us-container {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .vehicle-details-container {
      flex-direction: column;
  }
  .specs-container {
      margin-right: 0;
      margin-bottom: 20px;
  }
}
